#Ignore .pyc file
*.pyc

#Ignore pycache
nse_analyzer/__pycache__/

#Ingnore the project cache if using spyder
.spyproject/

#Ignoring the project cache if using visual studio code
*.code-workspace

#Ignoring my ini config file
nse_config.ini